.cart-icon{
    width: 30px;
    height: 30px;
}

.user-profile-dropdown { 
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    font-size: 14px !important;
    font-weight: bold !important;
}
